* {
    margin: 0;
    padding: 0;
}

.footer_general {
    position: relative;
    top: 175vh;
    width: 100%; 
    background-color: #003756;
    margin-bottom: 0;
}

.footer_general img{
        max-width: 100%;
        max-height: 100%;
        position: relative;
}

.partners{
    text-align: center;
    color: white;
    padding: 2vh;
}

.brands{
    position: relative;
    display: flex;  
    justify-content: center;
    padding: 1vh 2vh;
}

.brands_pic{
    margin: 0.5vh;
    max-width: 12vh;
}

.logo_footer{
        margin: 0 auto;
        display: flex;
        max-width: 10vh;
        align-items: center;        
}

.social_media{
    cursor: pointer;
    margin: 0 auto;
    max-width: 15vh;
    display: flex;
    align-items: center;
}

.tiktok{
    padding: 1vh;
}

.copyright{
    background-color: black;
    position: relative;
    padding: 1vh;
    bottom: 0vh;
}

.copyright p{
    color: white;
    text-align: center;
    padding: 0.5vh 0.5vh;
}

@media (max-width: 550px){

    .footer_general {
        position: relative;
        top: 220vh;
        width: 100%; 
        background-color: #003756;
    }

    .partners{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 1vh;
        padding-bottom: 1vh;
        text-align: center;
        color: white;
    }

    .brands{  
       display: grid;
       grid-template-columns: 1fr 1fr;
       margin-left: 14%;
       margin-right: 10%;  
    }

    .brands_pic{
        padding-left: 2.5vh;
    }

    .social_media{
        max-width: 15vh;
    }

}