<<<<<<< HEAD
.principal{
    width: 100%;
    padding-top: 12vh;
}

.wrapper_carousel{
    max-width: 50em;
    height: 90%;
    position: relative;
    margin: 0 auto;
    padding-top: 5vh;
    padding: 2em;
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.principal{
    width: 100%;
    padding-top: 10vh;
}

.principal .journal{
    width: 70%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding-left: 4em;
}

.wrapper_carousel{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
>>>>>>> feature_grid_prod
}

.wrapper_carousel i{
    top: 55%;
    bottom: 10%;
    height: 46px;
    width: 46px;
    cursor: pointer;
<<<<<<< HEAD
    position: fixed;
=======
    position: absolute;
>>>>>>> feature_grid_prod
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: whitesmoke;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper_carousel i:first-child{
<<<<<<< HEAD
    left: 5%;
=======
    left: -23px;
>>>>>>> feature_grid_prod
    display: none;
}

.wrapper_carousel i:last-child{
<<<<<<< HEAD
    right: 5%;
=======
    right: -23px;
>>>>>>> feature_grid_prod
}

.wrapper_carousel .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

<<<<<<< HEAD
.carousel{
    height: 180vh;
}

.carousel img{
=======
.carousel img{
    height: 80vh;
>>>>>>> feature_grid_prod
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%);
}

.carousel:hover img{
    opacity: 0.3s;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.carousel img:first-child{
    margin-left: 0px;
<<<<<<< HEAD
}

.mobile_jornal{
    display: none;
}

.comesbesques{
    text-align: right;
    margin-right: 10em;
    margin-bottom: 2em;
}

.comesbesques a{
    color: blue;
=======

>>>>>>> feature_grid_prod
}


@media (max-width: 750px){
<<<<<<< HEAD

    .wrapper_carousel{
        display: none;
    }

    .mobile_jornal{
        display: block;
        margin-top: 10em;
        margin-bottom: 10em;
        text-align: center;
    }

    .comesbesques{
        display: none;
    }
}
=======
    .carousel img{
        width: calc(100% / 2);
    }
}

@media (max-width: 550px){
   
    .principal{
        padding: 2em;
    }
    .carousel img{
        max-width: 100%;
    }    

}

@media (max-width: 550px){

    .carousel img{
        height: 100%;
        object-fit: cover;
        margin-left: 14px;
        width: calc(100%);
    }    
}
>>>>>>> feature_grid_prod
