.principal{
    width: 100%;
    padding-top: 12vh;
}

.wrapper_carousel{
    max-width: 50em;
    height: 90%;
    position: relative;
    margin: 0 auto;
    padding-top: 5vh;
    padding: 2em;
}

.wrapper_carousel i{
    top: 55%;
    bottom: 10%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: fixed;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: whitesmoke;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper_carousel i:first-child{
    left: 5%;
    display: none;
}

.wrapper_carousel i:last-child{
    right: 5%;
}

.wrapper_carousel .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.carousel{
    height: 180vh;
}

.carousel img{
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%);
}

.carousel:hover img{
    opacity: 0.3s;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.carousel img:first-child{
    margin-left: 0px;
}

.mobile_jornal{
    display: none;
}

.comesbesques{
    text-align: right;
    margin-right: 10em;
    margin-bottom: 2em;
}

.comesbesques a{
    color: blue;
}


@media (max-width: 750px){

    .wrapper_carousel{
        display: none;
    }

    .mobile_jornal{
        display: block;
        margin-top: 10em;
        margin-bottom: 10em;
        text-align: center;
    }

    .comesbesques{
        display: none;
    }
}
