*{
    box-sizing: border-box;
}

/*slide*/
.slideshow_container{
    max-width: auto;
    max-height: 20vh;
    position: relative;
    z-index: -1;
}

/*Esconde as imagens*/
.myslides{
    display: none;
}

/*Botão de ida e volta*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2vh;
    padding: 1.6vh;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    transition: 0.6s ease;
    border-radius: 0 0.3vh 0.3vh 0;
    user-select: none;
}

/*Posiciona o botão "ida" à direita*/
.next{
    right: 0;
    border-radius: 0.5vh 0 0 0.3vh;
}

/*Adiciona um hover*/
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0,8);
}


/*Os pontos, bullets e indicadores*/
.dot{
    cursor: pointer;
    height: 1.5vh;
    width: 1.5vh;
    margin: 0 0.2vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 1.6 ease;
}

.dots{
    margin-top: 1.5vh;
}

/*.active, .dot:hover{
    background-color: #717171;
}*/

/*Animação fade*/
.fade{
    animation-name: fade;
    animation-duration: 2.5s;
}

img{    
    max-width: 100%;
    max-height: 100%;
    position: relative;
}



@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

@media (max-width: 999px){

    .slideshow_container{
        height: 1000vh;
    }



}
