@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h2{
  text-align: center;
}

body{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.card_wrapp{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.principal{
  background-color: whitesmoke;
  padding-top: 10%;
}

.contato{
  padding-top: 5%;
}
.card{
  position: relative;
  width: 43vw;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4vh;
  padding-top: 4vh;
  margin-bottom: 10vh;
}

.sell_style{
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 2em;
  margin-top: -5em;
}

.option{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.big_card{
  width: 45vw;
}

.btn{
    background-color: #003756;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 1em;
}

.choice{
  text-align: center;
}

.card_image{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.card_image_exito{
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.card_image_exito img{
  width: 100%;
}

.card_image img{
  width: 100%;
  transform: scale(1.2);
}


.name{
  font-size: 1.4em;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card p{
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  text-align: center;
}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;

}

.socials a{
  margin: 12px 8px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.4s;
  padding-top: 10.5px;
  text-align: center;
}

a:hover{
  opacity: 0.8;
}

.socials a i {
  color: #fff;
  font-size: 1.4em;
}

a.whatsapp{
  background-color: #075e54;
}


@media (max-width: 1200px){

  .card_wrapp{
    height: 100%;
  }

  .card{
    width: 400px;
    padding-left: 1em;
    padding-right: 1em;
  }
}


@media (max-width: 650px){
  
  .principal{
    padding-top: 4em;
  }

  .card_wrapp{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .card{
    width: 300px;
  }

  .sell_style{
    max-width: 100%;
    text-align: center;
    margin-top: -0.5em;
  }

  .option{
    display: flex;
    flex-direction: column;
  }
}