@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.principal{
    padding-top: 2vh;
    background-color: whitesmoke;
}

h1, p{
    text-align: center;
}

.principal .work_container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 5%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

input, textarea, label{
    display: block;
    margin: 0 auto;
    width: 100%;
    color: black;
}

input, textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit]{
    background-color: #545557;
    padding: 15px 0;
    color:white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover{
    background: #FFF;
    color: #1b1c1e;
}

input, textarea {
    color: black;
    font-size: 18px;
    padding: 5px;
    direction: none;
}

input:focus, textarea:focus{
    outline: 1px solid #828282;
}


@media (max-width: 650px){

    .principal{
        padding-top: 6vh;
    }
}